
*.pyc
*.blend1
InProgressScripts/testFiles/materialNet.json
InProgressScripts/CheckFiles/CheckTypeConversion.blend
InProgressScripts/testFiles/scene_hierarchy.json
InProgressScripts/CheckFiles/HierarchyCheck.blend
*.usdc
*.hdr
InProgressScripts/testFiles/combined_export.json
InProgressScripts/CheckFiles/HierarchyCheck.abc
